NET "pci_clk" TNM_NET = "PCLK" | LOC = "P93";
TIMESPEC "TS_PCLK" = PERIOD "PCLK" 33 MHz HIGH 50%;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2013/10/31
NET "pci_cbe<3>" TNM = PCI_GROUP | LOC = "P14" | IOSTANDARD = PCI33_3;
NET "pci_cbe<2>" TNM = PCI_GROUP | LOC = "P15" | IOSTANDARD = PCI33_3;
NET "pci_cbe<1>" TNM = PCI_GROUP | LOC = "P16" | IOSTANDARD = PCI33_3;
NET "pci_cbe<0>" TNM = PCI_GROUP | LOC = "P17" | IOSTANDARD = PCI33_3;
NET "pci_ad<31>" TNM = PCI_GROUP | LOC = "P21" | IOSTANDARD = PCI33_3;
NET "pci_ad<30>" TNM = PCI_GROUP | LOC = "P22" | IOSTANDARD = PCI33_3;
NET "pci_ad<29>" TNM = PCI_GROUP | LOC = "P23" | IOSTANDARD = PCI33_3;
NET "pci_ad<28>" TNM = PCI_GROUP | LOC = "P24" | IOSTANDARD = PCI33_3;
NET "pci_ad<27>" TNM = PCI_GROUP | LOC = "P26" | IOSTANDARD = PCI33_3;
NET "pci_ad<26>" TNM = PCI_GROUP | LOC = "P27" | IOSTANDARD = PCI33_3;
NET "pci_ad<25>" TNM = PCI_GROUP | LOC = "P29" | IOSTANDARD = PCI33_3;
NET "pci_ad<24>" TNM = PCI_GROUP | LOC = "P30" | IOSTANDARD = PCI33_3;
NET "pci_ad<23>" TNM = PCI_GROUP | LOC = "P32" | IOSTANDARD = PCI33_3;
NET "pci_ad<22>" TNM = PCI_GROUP | LOC = "P33" | IOSTANDARD = PCI33_3;
NET "pci_ad<21>" TNM = PCI_GROUP | LOC = "P34" | IOSTANDARD = PCI33_3;
NET "pci_ad<20>" TNM = PCI_GROUP | LOC = "P35" | IOSTANDARD = PCI33_3;
NET "pci_ad<19>" TNM = PCI_GROUP | LOC = "P40" | IOSTANDARD = PCI33_3;
NET "pci_ad<18>" TNM = PCI_GROUP | LOC = "P41" | IOSTANDARD = PCI33_3;
NET "pci_ad<17>" TNM = PCI_GROUP | LOC = "P58" | IOSTANDARD = PCI33_3;
NET "pci_ad<16>" TNM = PCI_GROUP | LOC = "P59" | IOSTANDARD = PCI33_3;
NET "pci_ad<15>" TNM = PCI_GROUP | LOC = "P60" | IOSTANDARD = PCI33_3;
NET "pci_ad<14>" TNM = PCI_GROUP | LOC = "P61" | IOSTANDARD = PCI33_3;
NET "pci_ad<13>" TNM = PCI_GROUP | LOC = "P62" | IOSTANDARD = PCI33_3;
NET "pci_ad<12>" TNM = PCI_GROUP | LOC = "P66" | IOSTANDARD = PCI33_3;
NET "pci_ad<11>" TNM = PCI_GROUP | LOC = "P67" | IOSTANDARD = PCI33_3;
NET "pci_ad<10>" TNM = PCI_GROUP | LOC = "P74" | IOSTANDARD = PCI33_3;
NET "pci_ad<9>" TNM = PCI_GROUP | LOC = "P75" | IOSTANDARD = PCI33_3;
NET "pci_ad<8>" TNM = PCI_GROUP | LOC = "P78" | IOSTANDARD = PCI33_3;
NET "pci_ad<7>" TNM = PCI_GROUP | LOC = "P79" | IOSTANDARD = PCI33_3;
NET "pci_ad<6>" TNM = PCI_GROUP | LOC = "P80" | IOSTANDARD = PCI33_3;
NET "pci_ad<5>" TNM = PCI_GROUP | LOC = "P81" | IOSTANDARD = PCI33_3;
NET "pci_ad<4>" TNM = PCI_GROUP | LOC = "P82" | IOSTANDARD = PCI33_3;
NET "pci_ad<3>" TNM = PCI_GROUP | LOC = "P83" | IOSTANDARD = PCI33_3;
NET "pci_ad<2>" TNM = PCI_GROUP | LOC = "P84" | IOSTANDARD = PCI33_3;
NET "pci_ad<1>" TNM = PCI_GROUP | LOC = "P85" | IOSTANDARD = PCI33_3;
NET "pci_ad<0>" TNM = PCI_GROUP | LOC = "P87" | IOSTANDARD = PCI33_3;
NET "pci_devsel" TNM = PCI_GROUP | LOC = "P51" | IOSTANDARD = PCI33_3;
NET "pci_frame" TNM = PCI_GROUP | LOC = "P48" | IOSTANDARD = PCI33_3;
NET "pci_gnt" TNM = PCI_GROUP | LOC = "P45" | IOSTANDARD = PCI33_3;
NET "pci_idsel" TNM = PCI_GROUP | LOC = "P50" | IOSTANDARD = PCI33_3;
NET "pci_inta" TNM = PCI_GROUP | LOC = "P88" | IOSTANDARD = PCI33_3;
NET "pci_irdy" TNM = PCI_GROUP | LOC = "P43" | IOSTANDARD = PCI33_3;
NET "pci_par" TNM = PCI_GROUP | LOC = "P55" | IOSTANDARD = PCI33_3;
NET "pci_perr" TNM = PCI_GROUP | LOC = "P56" | IOSTANDARD = PCI33_3;
NET "pci_req" TNM = PCI_GROUP | LOC = "P46" | IOSTANDARD = PCI33_3;
NET "pci_rst" LOC = "P92" | IOSTANDARD = PCI33_3;
NET "pci_serr" TNM = PCI_GROUP | LOC = "P57" | IOSTANDARD = PCI33_3;
NET "pci_stop" TNM = PCI_GROUP | LOC = "P47" | IOSTANDARD = PCI33_3;
NET "pci_trdy" TNM = PCI_GROUP | LOC = "P44" | IOSTANDARD = PCI33_3;
TIMEGRP "PCI_GROUP" OFFSET = IN 7 ns BEFORE "pci_clk" RISING;
TIMEGRP "PCI_GROUP" OFFSET = OUT 11 ns AFTER "pci_clk" RISING;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2013/10/31
INST "GAD<0>" TNM = GB_GROUP;
INST "GAD<1>" TNM = GB_GROUP;
INST "GAD<2>" TNM = GB_GROUP;
INST "GAD<3>" TNM = GB_GROUP;
INST "GAD<4>" TNM = GB_GROUP;
INST "GAD<5>" TNM = GB_GROUP;
INST "GAD<6>" TNM = GB_GROUP;
INST "GAD<7>" TNM = GB_GROUP;
INST "GCLK" TNM = GB_GROUP;
INST "GRDWR_B" TNM = GB_GROUP;
INST "GSEL_B<0>" TNM = GB_GROUP;
INST "GSEL_B<1>" TNM = GB_GROUP;
INST "GSEL_B<2>" TNM = GB_GROUP;
INST "GSEL_B<3>" TNM = GB_GROUP;
TIMEGRP "GB_GROUP" OFFSET = OUT 10 ns AFTER "pci_clk"; #REFERENCE_PIN "GCLK";
TIMEGRP "GB_GROUP" OFFSET = IN 10 ns BEFORE "pci_clk"; #REFERENCE_PIN "GCLK";
