NET "pci_clk" TNM_NET = "PCLK" | LOC = "P93";
TIMESPEC "TS_PCLK" = PERIOD "PCLK" 30 ns HIGH 50%;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2013/10/31
NET "pci_cbe<3>" TNM = PCI_GROUP | LOC = "P12" | IOSTANDARD = PCI33_3;
NET "pci_cbe<2>" TNM = PCI_GROUP | LOC = "P14" | IOSTANDARD = PCI33_3;
NET "pci_cbe<1>" TNM = PCI_GROUP | LOC = "P15" | IOSTANDARD = PCI33_3;
NET "pci_cbe<0>" TNM = PCI_GROUP | LOC = "P16" | IOSTANDARD = PCI33_3;
NET "pci_ad<31>" TNM = PCI_GROUP | LOC = "P17" | IOSTANDARD = PCI33_3;
NET "pci_ad<30>" TNM = PCI_GROUP | LOC = "P21" | IOSTANDARD = PCI33_3;
NET "pci_ad<29>" TNM = PCI_GROUP | LOC = "P22" | IOSTANDARD = PCI33_3;
NET "pci_ad<28>" TNM = PCI_GROUP | LOC = "P23" | IOSTANDARD = PCI33_3;
NET "pci_ad<27>" TNM = PCI_GROUP | LOC = "P24" | IOSTANDARD = PCI33_3;
NET "pci_ad<26>" TNM = PCI_GROUP | LOC = "P26" | IOSTANDARD = PCI33_3;
NET "pci_ad<25>" TNM = PCI_GROUP | LOC = "P27" | IOSTANDARD = PCI33_3;
NET "pci_ad<24>" TNM = PCI_GROUP | LOC = "P29" | IOSTANDARD = PCI33_3;
NET "pci_ad<23>" TNM = PCI_GROUP | LOC = "P30" | IOSTANDARD = PCI33_3;
NET "pci_ad<22>" TNM = PCI_GROUP | LOC = "P32" | IOSTANDARD = PCI33_3;
NET "pci_ad<21>" TNM = PCI_GROUP | LOC = "P33" | IOSTANDARD = PCI33_3;
NET "pci_ad<20>" TNM = PCI_GROUP | LOC = "P34" | IOSTANDARD = PCI33_3;
NET "pci_ad<19>" TNM = PCI_GROUP | LOC = "P35" | IOSTANDARD = PCI33_3;
NET "pci_ad<18>" TNM = PCI_GROUP | LOC = "P40" | IOSTANDARD = PCI33_3;
NET "pci_ad<17>" TNM = PCI_GROUP | LOC = "P57" | IOSTANDARD = PCI33_3;
NET "pci_ad<16>" TNM = PCI_GROUP | LOC = "P58" | IOSTANDARD = PCI33_3;
NET "pci_ad<15>" TNM = PCI_GROUP | LOC = "P59" | IOSTANDARD = PCI33_3;
NET "pci_ad<14>" TNM = PCI_GROUP | LOC = "P61" | IOSTANDARD = PCI33_3;
NET "pci_ad<13>" TNM = PCI_GROUP | LOC = "P62" | IOSTANDARD = PCI33_3;
NET "pci_ad<12>" TNM = PCI_GROUP | LOC = "P66" | IOSTANDARD = PCI33_3;
NET "pci_ad<11>" TNM = PCI_GROUP | LOC = "P67" | IOSTANDARD = PCI33_3;
NET "pci_ad<10>" TNM = PCI_GROUP | LOC = "P74" | IOSTANDARD = PCI33_3;
NET "pci_ad<9>" TNM = PCI_GROUP | LOC = "P75" | IOSTANDARD = PCI33_3;
NET "pci_ad<8>" TNM = PCI_GROUP | LOC = "P78" | IOSTANDARD = PCI33_3;
NET "pci_ad<7>" TNM = PCI_GROUP | LOC = "P79" | IOSTANDARD = PCI33_3;
NET "pci_ad<6>" TNM = PCI_GROUP | LOC = "P80" | IOSTANDARD = PCI33_3;
NET "pci_ad<5>" TNM = PCI_GROUP | LOC = "P81" | IOSTANDARD = PCI33_3;
NET "pci_ad<4>" TNM = PCI_GROUP | LOC = "P82" | IOSTANDARD = PCI33_3;
NET "pci_ad<3>" TNM = PCI_GROUP | LOC = "P83" | IOSTANDARD = PCI33_3;
NET "pci_ad<2>" TNM = PCI_GROUP | LOC = "P84" | IOSTANDARD = PCI33_3;
NET "pci_ad<1>" TNM = PCI_GROUP | LOC = "P85" | IOSTANDARD = PCI33_3;
NET "pci_ad<0>" TNM = PCI_GROUP | LOC = "P87" | IOSTANDARD = PCI33_3;
NET "pci_devsel" TNM = PCI_GROUP | LOC = "P50" | IOSTANDARD = PCI33_3;
NET "pci_frame" TNM = PCI_GROUP | LOC = "P47" | IOSTANDARD = PCI33_3;
NET "pci_gnt" TNM = PCI_GROUP | LOC = "P44" | IOSTANDARD = PCI33_3;
NET "pci_idsel" TNM = PCI_GROUP | LOC = "P48" | IOSTANDARD = PCI33_3;
NET "pci_inta" TNM = PCI_GROUP | LOC = "P10" | IOSTANDARD = PCI33_3;
NET "pci_irdy" TNM = PCI_GROUP | LOC = "P43" | IOSTANDARD = PCI33_3;
NET "pci_par" TNM = PCI_GROUP | LOC = "P51" | IOSTANDARD = PCI33_3;
NET "pci_perr" TNM = PCI_GROUP | LOC = "P55" | IOSTANDARD = PCI33_3;
NET "pci_req" TNM = PCI_GROUP | LOC = "P45" | IOSTANDARD = PCI33_3;
NET "pci_rst" LOC = "P11" | IOSTANDARD = PCI33_3;
NET "pci_serr" TNM = PCI_GROUP | LOC = "P56" | IOSTANDARD = PCI33_3;
NET "pci_stop" TNM = PCI_GROUP | LOC = "P46" | IOSTANDARD = PCI33_3;
NET "pci_trdy" TNM = PCI_GROUP | LOC = "P41" | IOSTANDARD = PCI33_3;
# This should be fixed:
# pci_req is actually OFFSET = OUT 12 ns, OFFSET = IN 12 ns
# pci_gnt is actually OFFSET = IN 10 ns
TIMEGRP "PCI_GROUP" OFFSET = IN 7 ns BEFORE "pci_clk" RISING;
TIMEGRP "PCI_GROUP" OFFSET = OUT 11 ns AFTER "pci_clk" RISING;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2013/10/31
NET "GAD<0>" TNM = GB_GROUP | LOC = "P142" | IOSTANDARD = LVCMOS25 | PULLUP;
NET "GAD<1>" TNM = GB_GROUP | LOC = "P143" | IOSTANDARD = LVCMOS25 | PULLUP;
NET "GAD<2>" TNM = GB_GROUP | LOC = "P137" | IOSTANDARD = LVCMOS25 | PULLUP;
NET "GAD<3>" TNM = GB_GROUP | LOC = "P134" | IOSTANDARD = LVCMOS25 | PULLUP;
NET "GAD<4>" TNM = GB_GROUP | LOC = "P141" | IOSTANDARD = LVCMOS25 | PULLUP;
NET "GAD<5>" TNM = GB_GROUP | LOC = "P140" | IOSTANDARD = LVCMOS25 | PULLUP;
NET "GAD<6>" TNM = GB_GROUP | LOC = "P139" | IOSTANDARD = LVCMOS25 | PULLUP;
NET "GAD<7>" TNM = GB_GROUP | LOC = "P138" | IOSTANDARD = LVCMOS25 | PULLUP;
NET "GCLK" TNM = GB_GROUP | LOC = "P126" | IOSTANDARD = LVCMOS25 | SLEW = QUIETIO | DRIVE = 6;
NET "GRDWR_B" TNM = GB_GROUP | LOC = "P144" | IOSTANDARD = LVCMOS25;
NET "GSEL_B<0>" TNM = GB_GROUP | LOC = "P133" | IOSTANDARD = LVCMOS25;
NET "GSEL_B<1>" TNM = GB_GROUP | LOC = "P132" | IOSTANDARD = LVCMOS25;
NET "GSEL_B<2>" TNM = GB_GROUP | LOC = "P131" | IOSTANDARD = LVCMOS25;
NET "GSEL_B<3>" TNM = GB_GROUP | LOC = "P127" | IOSTANDARD = LVCMOS25;
NET "PROGRAM_B<0>" LOC = "P8" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "PROGRAM_B<1>" LOC = "P7" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "PROGRAM_B<2>" LOC = "P6" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "PROGRAM_B<3>" LOC = "P5" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "INIT_B<0>" LOC = "P100" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "INIT_B<1>" LOC = "P99" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "INIT_B<2>" LOC = "P98" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "INIT_B<3>" LOC = "P97" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "DONE<0>" LOC = "P105" | IOSTANDARD = LVCMOS33;
NET "DONE<1>" LOC = "P104" | IOSTANDARD = LVCMOS33;
NET "DONE<2>" LOC = "P102" | IOSTANDARD = LVCMOS33;
NET "DONE<3>" LOC = "P101" | IOSTANDARD = LVCMOS33;

NET "MON<0>" LOC = "P117" | IOSTANDARD = LVCMOS25 | SLEW = QUIETIO | DRIVE = 8;
NET "MON<1>" LOC = "P9" | IOSTANDARD = LVCMOS33;
NET "MON<2>" LOC = "P88" | IOSTANDARD = LVCMOS33;

TIMEGRP "GB_GROUP" OFFSET = OUT AFTER "pci_clk" REFERENCE_PIN "GCLK" RISING;
TIMEGRP "GB_GROUP" OFFSET = IN 19 ns BEFORE "pci_clk" RISING VALID 27 ns;

NET "GSEL_JTAG_B" LOC = "P95" | IOSTANDARD = LVCMOS33;
NET "SYSCLK_SEL" LOC = "P2" | IOSTANDARD = LVCMOS33;
NET "EN_LOCAL_CLK" LOC = "P1" | IOSTANDARD = LVCMOS33;
NET "CS_B" LOC = "P38" | IOSTANDARD = LVCMOS33;
NET "MOSI" LOC = "P64" | IOSTANDARD = LVCMOS33;
NET "MISO" LOC = "P65" | IOSTANDARD = LVCMOS33;
NET "SCK" LOC = "P70" | IOSTANDARD = LVCMOS33;